                <!-- MAIN CONTENT -->
                <div class="container-fluid pt-4 px-4">
                <div class="col-lg-12 col-6">
                    <!-- small box -->
                    <div class="small-box ">
                    <div class="inner">
                        <h4>Daftar Dokter</h4>
                        <table class="table">
                            <thead class="bg-dark text-white">
                                <th>#</th>
                                <th>Nama Pasien</th>
                                <th>Usia</th>
                            </thead>
                            <tbody>
                                <% data.forEach((element) => { %>
                                    <tr>
                                        <td><%= element.id %></td>
                                        <td><%= element.nama %></td>
                                        <td><%= element.alamat %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
                <!-- END CONTENT -->