                <!-- MAIN CONTENT -->
                <div class="col-lg-12 col-6">
                    <!-- small box -->
                    <div class="small-box bg-light">
                    <div class="inner">
                        <h5>Daftar Dokter</h5>
                        <table class="table">
                            <thead class="bg-white">
                                <th>#</th>
                                <th>Nama Pelanggan</th>
                                <th>Usia</th>
                            </thead>
                            <tbody>
                                <% pasien.forEach((element) => { %>
                                    <tr>
                                        <td><%= element.id %></td>
                                        <td><%= element.nama %></td>
                                        <td><%= element.alamat %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <!-- END CONTENT -->